@using MVCSite.Web
@using MVCSite.ViewResource
@model MVCSite.Web.ViewModels.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seoinfo{
    <title>Change Password | Kootour</title>
    @*The following 3 lines is for google plus*@
    <meta itemprop="name" content="@Model.MetaName" />
    <meta name="description" content="Change Password." />
    <meta itemprop="image" content="@Url.Content("~/images/kootour.ico")" />
    <meta name="keywords" content="change password, passoword, @Model.MetaKeywords" />
    <meta name="robots" content="index,nofollow" />
}

<div class="container">
    <div class="row">

        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <section class="text-center section">
                <ul class="indicators">
                    <li data-step="step-1" class="active"><a href="#"></a></li>
                    <li data-step="step-2"><a href="#"></a></li>
                </ul>

                <!-- Display step-1 and step-2 if email not confirmed -->
                <div id="step-1">
                    <label class="title black"><b>Change your password</b></label>

                    <p>Change your password by typing it twice.</p>

                    <div class="phone-icon">
                        <img class="" src="/images/icons/icon_email.png" />
                    </div>
                     @using (Html.BeginForm("ChangePassword", "Account", new { }, FormMethod.Post, new { id = "ChangePassword" }))
                     {
                        <div class="row">
                            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-8">
                           @* <form id="password-form" class="">
                                <div class="strength-wrapper form-group required">
                                    <!--<label for="loginPassword">Password</label>-->
                                    <input type="password" class="form-control input-lg gray" id="signupPassword" placeholder="Password" required>
                                </div>

                                <div class="form-group required">
                                    <!--<label for="loginPassword">Password</label>-->
                                    <input type="password" class="form-control input-lg gray" id="signupRePassword" placeholder="Re-enter Password" required>
                                </div>

                                <button id="signupButton" type="submit" class="btn btn-kootour-bold fullwidth">Change</button>
                            </form>*@
                            <div class="form-group required">             
                                 @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg gray", placeholder = "New password" })                    
                                <div class="validation-row">
                                       @Html.ValidationMessageFor(m => m.NewPassword)
                                </div>
                             </div> 
                             <div class="form-group required">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg gray", placeholder = "Re-enter new password" })                    
                                <div class="validation-row">
                                       @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                              </div>
                                <button type="submit" class="btn btn-kootour-bold fullwidth">Change </button>   
                            </div>
                         </div>                        
                     }
                </div>
                
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('input.primary.js-change-password').click(function () {
            return AjaxPostForm(this, function (response) {
                if (response.result) {
                    $('#PopupDialog').hide();
                    $('#modal-overlay').hide();
                }
                else {
                    var $dialog = $('#PopupDialog');
                    var firstDiv = $dialog.children("div:first");
                    var offset = firstDiv.offset();
                    $dialog.html(response.html);
                    firstDiv = $dialog.children("div:first");
                    firstDiv.css({ left: offset.left, top: offset.top });
                }
            });            
        });
        $('#CloseChangePassword').click(function () {
            $('#PopupDialog').hide();
        });
    });

</script>