@using MVCSite.Web
@using MVCSite.ViewResource
@model MVCSite.Web.ViewModels.ResetPassword
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section seoinfo{
    <title>Reset Password | Kootour</title>
    @*The following 3 lines is for google plus*@
    <meta itemprop="name" content="@Model.MetaName" />
    <meta name="description" content="Reset Password." />
    <meta itemprop="image" content="@Url.Content("~/images/kootour.ico")" />
    <meta name="keywords" content="reset password, passoword, password recovery, recovery, recover, @Model.MetaKeywords" />
    <meta name="robots" content="index,nofollow" />
}

<div class="container">
    <div class="row">

        <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="section">
                <span class="title">Reset Password</span>

                @using (Html.BeginForm("ResetPassword", "Account", new { }, FormMethod.Post, new { id = "ResetPasswordForm"}))
                                 
                 {
                 <div class="form-group">                  
                    @*@Html.LabelFor(m => m.NewPassword, "Enter your new password")*@
                    <span> Enter your new password</span>                          
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg gray", placeholder = "Your password" })                    
                    <div class="validation-row">
                           @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>  
                </div>
                <div class="form-group">               
                   @* @Html.LabelFor(m => m.ConfirmNewPassword, "Re-enter your new password")*@
                   <span> Re-enter your new password</span>                            
                   @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control input-lg gray", placeholder = "Your password" })
                   <div class="validation-row">
                         @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                   </div>  
                </div>
                <button type="submit" class="btn btn-kootour-bold fullwidth">submit</button>                
                @Html.HiddenFor(x => x.Token)                      
                 }               
            </section>
        </div>
    </div>
</div>

