@using MVCSite.Web
@using MVCSite.ViewResource
@using MVCSite.DAC.Entities
@model MVCSite.Web.ViewModels.PromotionLandingModel
@{
    Layout = "~/Views/Shared/_LayoutFullPage.cshtml";
}
@section seoinfo{
    <title>Get $20 USD Off Your Next Tour | Kootour</title>
    @*The following 3 lines is for google plus*@
    <meta itemprop="name" content="@Model.MetaName" />
    <meta name="description" content="Receive a $20 USD promotional code and use it towards your next booking on Kootour. Claim it soon before the promotion expires." />
    <meta itemprop="image" content="@Url.Content("~/images/kootour.ico")" />
    <meta name="keywords" content="promotion code, $20 off, tour marketplace, book tours, customizable tours, unique tours, instant booking, guided tours, tours, tour guide, local guide, activities, attractions, things to do, become a guide, beijing, shanghai, cancun, mexico city, vancouver, china, mexico, canada, kootour" />
    <meta name="robots" content="index,nofollow" />
}
<style>
    .promo-background{
        background-image:url('/images/bg_promo.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        height: 100vh;
        width:100%;
        overflow:auto;
    }

    .promo_verticalcenter{
        display: flex; 
        -webkit-box-align : center;
        -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
    }
    

    section.section_promo{
        background-color: rgba(0, 0, 0, 0.20);
        margin-top: 25px;
        border-top: 10px solid #0cc;
        border-radius: 3px;
        box-shadow: -1px 0 2px 0 rgba(0,0,0,.12), 1px 0 2px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.12);
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 45px;
        padding-right: 45px;
        
    }

    @@media (max-width: 480px) {
        section.section_promo{
           padding-top:15px !important; 
           margin-top:10px !important;
           padding-bottom:10px !important;
           padding-left:20px !important;
           padding-right:20px !important;
        }
    }
    .img_coupon{
        width: 120px;
        height: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    @@media (max-width:480px){
            .img_coupon{
                width:75px !important;
                height:auto;
            }
        }


    .text_promo{
        color:#F5D10A;
        line-height: 35px;
        margin-top: -20px;
        
    }

    @@media (max-width:480px){
            .text_promo{
                font-size:17px!important;
                font-family:Montserrat-Regular !important;
            }
        }

   .row_promo_01{
        padding-top: 100px;
    }

   @@media (max-width:480px){
            .row_promo_01{
                padding-top:0;
            }
        }

    @*specific to promo landing page *@ 

    .text_promo_white{
        color:#fff;
    }

   .text_needhelp{
        padding-top:20px;
        color:#fff;
    }
    .link_promo{
        color:#ededef;
        cursor: pointer;
    }
    .form-group {
        margin-bottom: 5px;
    }
    .validation-message {
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid promo-background">
    <div class="row row_promo_01">
        <div class="col-lg-offset-4 col-md-offset-2 col-sm-offset-1 col-lg-4 col-md-8 col-sm-10 col-xs-12 promo_verticalcenter">

            <section class="section_promo">

                <div class="login-wrap login-wrap-collapse">

                    <img alt="Brand" class="img_coupon" src=@Url.Content("~/images/icons/coupon_480.png")>
                </div>

                <h3 class="text_promo">Get free travel tips and exclusive offers PLUS your $20 USD code.</h3>
                <p class="text_promo_white">Enter your email address below.</p>

                <!-- Begin MailChimp Signup Form -->
                @using (@Html.BeginForm("PromotionLandingProcess", "Tourist", new {}, FormMethod.Post, new {}))
                {
                    <div id="mc_embed_signup">
                        @*<form action="//kootour.us13.list-manage.com/subscribe/post?u=ae7e6a7ee8317e0d0314105f7&amp;id=8151ffc652" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="login-form validate" target="_blank">*@
                        <div id="mc_embed_signup_scroll">
                            <div class="form-group mc-field-group">
                                @Html.TextBoxFor(m => m.FullName, new { id = "mce-FNAME", @class = "form-control input-lg gray", @placeholder = "Full Name" })
                            </div>
                            <div class="validation-message">
                                @Html.ValidationMessageFor(m => m.FullName)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new {id = "mce-EMAIL", @class = "form-control input-lg gray required email", @placeholder = "Email"})
                            </div>
                            <div class="validation-message">
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>

                            <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-kootour-bold fullwidth">
                        </div>
                        @*</form>*@
                    </div>
                }
                <p class="text_needhelp">Need help?&nbsp;<a class="link_promo" href="mailto:contact@kootour.com" target="_top">Email us.</a></p>
            </section>
        </div>
    </div>
</div>
