<footer>
    <div class="container">
        <div class="row">
            <div class="footer-block footer-band-wrapper col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top:10px;">
                <a href="@Url.Action("Index","Tourist")"><img src="@Url.Content("~/images/icons/logo_footer.png")" /></a>
                
                @*<span class="footer-band">Kootour</span>*@
@*                <form>
                    <select class="form-control black">
                        <option value="en">English</option>
                        <option value="ch">Chinese</option>
                    </select>
                </form>*@
            </div>
            <div class="footer-block col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <p>101 - 887 Great Northern Way</p>
                <p>Vancouver BC, V5T 4T5</p>
                <p>+1 (604) 683-6450</p>
                <p>(9am-6pm Pacific Time)</p>
            </div>
            <div class="footer-block col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <p><a href="@Url.Action("AboutUs","Home")">About Us</a></p>
                <p><a href="@Url.Action("HelpHome", "Home")">Help</a></p>               
                <p><a href="@Url.Action("ContactUs", "Tourist")">Contact Us</a></p>
                <p><a href="@Url.Action("Terms", "Home")">Terms & Conditions</a></p>
            </div>

            <div class="footer-block col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <p><a href="@Url.Content("/blog")">Blog</a></p>
                <p>Connect With Us</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/kootour"><img src="@Url.Content("~/images/icons/icon_facebook.png")" alt="click to visit Kootour's Facebook page"/></a>
                    <a href="https://twitter.com/gokootour"><img src="@Url.Content("~/images/icons/icon_twitter.png")" alt="click to visit Kootour's Twitter page"/></a>
                    <a href="https://www.instagram.com/kootour/"><img src="@Url.Content("~/images/icons/icon_instagram.png")" alt="click to visit Kootour's Instagram page"/></a>
                    <a href="https://www.linkedin.com/company/kootour"><img src="@Url.Content("~/images/icons/icon_linkedin.png")" alt="click to visit Kootour's Linkedin page"/></a>
                    @*<a href="https://plus.google.com/115377427222194102916"><img src="@Url.Content("~/images/icons/icon_googleplus.png") alt="click to visit Kootour's GooglePlus page"" /></a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright text-center">
        <div class="row">
            <div class="col-xs-12">
                &copy; 2017 Kootour Software & Technologies Inc. All rights reserved.
            </div>
        </div>
    </div>
</footer>