<div class="backend-menu">
            <span>
            <a href="@Url.Action("TourProducts")">Tour Products</a>
            <span class="limiter">&nbsp;|&nbsp;</span>
            </span>

            <span>            
            <a href="@Url.Action("ReceivedBookings")">Received Bookings</a>
            <span class="limiter">&nbsp;|&nbsp;</span>
            </span>
            
            <span>
            <a href="@Url.Action("BankInformation")">Bank Information</a>
            <span class="limiter">&nbsp;|&nbsp;</span>
            </span>

            <span>
            <a href="@Url.Action("ExcludedDates")">Excluded Dates</a>
            </span>
@*            <a href="@Url.Action("Account")"><strong style="color: white">Account</strong></a>*@
</div>